@-webkit-keyframes spin{100%{-webkit-transform:rotate(360deg)}}
@-moz-keyframes spin{100%{-moz-transform:rotate(360deg)}}
@keyframes spin{100%{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}.blockUI.blockOverlay::before {    height:1em;width:1em;position:absolute;top:50%;left:50%;margin-left:-.5em;margin-top:-.5em;display:block;content:"";-webkit-animation:spin 1s ease-in-out infinite;-moz-animation:spin 1s ease-in-out infinite;animation:spin 1s ease-in-out infinite;background:url(../images/loader.svg) center center;background-size:cover;line-height:1;text-align:center;font-size:2em;color:rgba(0,0,0,.75);opacity: 0.6!important;cursor: wait!important;}
#wpc_sheepItForm_controls{margin-top: 10px;}
.wpc-hidden{display:none;}
.wpc_variation_meta_field{border: 1px solid #003bb3;}
.wpc_variation_meta_field input[type="checkbox"] {
    margin-right: 3px;
    margin-top: 0px !important;
}
.wpc_product_image_thumbnail img{}
.wpc-product-header{text-align: center !important;}
.show_if_wpc_panel{display: none!important;}
.clr span{ color: #ffffff;}
.clr .dashicons{font-size: 22px; margin-left:-5px; margin-right: 5px; margin-top: 1px;}
.dashicons-plus{margin-top: 2px !important;}
.ui-multiselect-all{display: none;}
#wpc_all_images{margin-top: 20px;}
.wpc_combination_wrapper{margin-bottom: 13px;}
.wpc_center{text-align: center;}